/* Structure */
.custom-container {
  position: relative;
  min-height: 200px;
}

.table-container {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading-shade {
  // position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  //background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 5px;
}

.mat-column-created {
  max-width: 124px;
}

td.mat-cell {
  /* row padding */
  padding: 16px 0;
  /* row border */
  border: 1px solid #f2f4f8;
 }

 .mat-column-room {
  word-wrap: break-word !important;
  white-space: unset !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-date {
  word-wrap: break-word !important;
  white-space: unset !important;
  //width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}


.mat-column-humidity {
  word-wrap: break-word !important;
  white-space: unset !important;
  //width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}


.mat-column-temperature {
  word-wrap: break-word !important;
  white-space: unset !important;
  //width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.mat-column-gas {
  word-wrap: break-word !important;
  white-space: unset !important;
  //width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

