<div mat-dialog-content>
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      Are you sure?
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <div class="float-right">
        <button mat-raised-button (click)="ko()">No</button>
        <button mat-raised-button (click)="ok()">Yes</button>
      </div>
    </div>
  </div>
</div>
