.header {
  padding-left: 1px;
  text-align: center;
  &__link {
    display: inline;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100vw;
  }

  &__logo {
    height: 64px;
    width: 240px;

    &::after {
      content: "";
      display: inline-block;
      background-image: url("../assets/styles/logo/banner-logo.png") !important;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      height: 60px;
      width: 240px;
      margin-top: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.user {
  float: right;
  margin-top: 28px;
}
