<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>{{homeInfo.name}}</mat-card-title>
            <mat-card-subtitle>Sensors and healty home management</mat-card-subtitle>
          </div>
        </div>
        <mat-divider></mat-divider><br>
        {{homeInfo.address}}, {{homeInfo.city}}
        <br> Floor: {{homeInfo.floor || 'Not available'}} Flat: {{homeInfo.flat || 'Not available'}}
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Enable alarms</mat-card-title>
            <mat-card-subtitle>If you're leaving your home it's recommended enable alarms</mat-card-subtitle>
          </div>
        </div>
        Slide here: <mat-slide-toggle  [checked]="isAlarmActive === true ? true : false" (change)="updateAlarm(homeInfo.code, $event)"></mat-slide-toggle>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<div [hidden]="!roomParams.data.length" fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card *ngFor="let roomParam of roomParams.data">
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>{{roomParam.room}}</mat-card-title>
            <mat-card-subtitle>Last update: <b>{{roomParam.date['$date'] | date: 'MMM d, y, H:mm'}}</b></mat-card-subtitle>
          </div>
        </div>

        <mat-grid-list cols="2" class="all-width" rowHeight="fit">

          <mat-grid-tile *ngIf="roomParam.gas">
            <mat-grid-tile-header *ngIf="roomParam.gas > 1000">
              Smoke detected
            </mat-grid-tile-header>
            <circle-progress  [maxPercent]=4000 [percent]="roomParam.gas" [radius]="45" [outerStrokeWidth]="5" [innerStrokeWidth]="2"
              [innerStrokeColor]="'#263238'"  [outerStrokeColor]="'#2f3d4a'" [animation]="true" [animationDuration]="300" [showUnits]="false"
              [subtitle]="'Gas / Smoke'" [outerStrokeLinecap]="'round'">
            </circle-progress>
          </mat-grid-tile>

          <mat-grid-tile *ngIf="roomParam.temperature">
            <circle-progress [percent]="roomParam.temperature" [radius]="45" [outerStrokeWidth]="5" [innerStrokeWidth]="2"
              [innerStrokeColor]="'#ff9933'"  [outerStrokeColor]="'#ff6600'" [animation]="true" [animationDuration]="300" [units]="' °C'"
              [subtitle]="'Temperature'" [outerStrokeLinecap]="'round'" [toFixed]="1">
            </circle-progress>
          </mat-grid-tile>

          <mat-grid-tile *ngIf="roomParam.humidity" [colspan]="1" [rowspan]="1">
            <circle-progress [percent]="roomParam.humidity" [radius]="45" [outerStrokeWidth]="5"
              [innerStrokeWidth]="2" [innerStrokeColor]="'#99d6ff'" [outerStrokeColor]="'#1e88e5'" [animation]="true"
              [animationDuration]="300" [subtitle]="'Humidity'" [outerStrokeLinecap]="'round'">
            </circle-progress>
          </mat-grid-tile>

          <mat-grid-tile *ngIf="roomParam.heatIndex">
            <circle-progress [percent]="roomParam.heatIndex" [radius]="45" [outerStrokeWidth]="5" [innerStrokeWidth]="2"
            [innerStrokeColor]="'#ff9933'"  [outerStrokeColor]="'#ff6600'" [animation]="true" [animationDuration]="300" [units]="' °C'"
              [subtitle]="'Heat Index'" [outerStrokeLinecap]="'round'" [toFixed]="1">
            </circle-progress>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>
    </mat-card>
  </div>
</div>
