
<div mat-dialog-content>
  <div fxLayout="row wrap">
  <mat-form-field>
    <mat-label>Rooms</mat-label>
    <mat-select [formControl]="room">
      <mat-select-trigger>
        {{room.value ? room.value : ''}}
      </mat-select-trigger>
      <mat-option *ngFor="let r of rooms" [value]="r">{{r}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>

<div mat-dialog-actions>
<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <div class="float-right">
      <button mat-raised-button (click)="onNoClick()">Return</button>
      <button mat-raised-button (click)="save()">Save  </button>
    </div>
  </div>
</div>
</div>

